h1 {
  margin-top: 1em;
}

h2 {
  margin-top: 1em;
}

h6 {
  margin-top: 1.5rem;
  font-weight: bold;
}

.unit-row-odd {
  background-color: white;
}

.unit-row-even {
  background-color: #EEEEEE;
}

.unit-row-top td {
  padding-bottom: .15rem;
}

.unit-row-middle td {
  padding-top: .15rem;
  padding-bottom: .15rem;
}

.unit-row-bottom td {
  padding-top: .15rem;
}

.unit-table-header {
  background-color: rgba(230,247,255,1);
}

.unit-name {
  font-weight: 550;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(230,247,255,1);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.stats-table td {
  padding-right: 1.2rem;
  padding-left: 0rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.stat-title {
  color: #888888;
}

.stats-table > tbody > tr:first-child > td {
  border: none;
  font-size: 80%;
  font-weight: 400;
  color: #888888;
}

.stats-table > tbody > tr > td:last-child {
  padding-right: 0;
}

.weapon-mode-join {
  text-align: right;
  font-style: italic;
}

.dropdown-toggle.active-dropdown::after {
  transform: rotate(-90deg);
}

.special-rules-row {
  margin-bottom: 20px;
}

.special-rules-table {
  margin-bottom: 0px;
}