<h2>Army Lists</h2>
<div class="row">
    {{#each index}}
    <div class="col-12 col-sm-6">
        <div class="card" style="margin-top: .8rem">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <ul class="card-text">
                    {{#each lists}}
                    <li><a href="index.html?race={{../abbreviation}}&list={{file}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<p>&nbsp;</p>