{{#each this}}
{{#if unit.length}}
<h2>{{name}}</h2>

{{> card-with-margin}}
<table class="table">
    <thead>
    <tr>
        <th scope="col" class="unit-table-header">
            <div class="row">
                <div class="col-12 col-md-5">Units</div>
                <div class="d-none d-md-inline col-md-7">Weapons</div>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    {{#each unit}}
    {{#unit this}}
    <tr class="unit-row-{{oddEven @index}}">
        <td>
            <div class="row">
                <div class="col-12">
                    <b>{{name}}</b>
                </div>
                <div class="col-md-5">
                    <table class="table-sm stats-table">
                        <tbody>
                        <tr>
                            <td>Type</td>
                            <td>Speed</td>
                            <td>Armour</td>
                            <td>CC</td>
                            <td>FF</td>
                        </tr>
                        <tr>
                            <td>{{#if type}}{{type}}{{else}}n/a{{/if}}</td>
                            <td>{{#if speed}}{{appendOnNumber speed 'cm'}}{{else}}n/a{{/if}}</td>
                            <td>{{#if armour}}{{armour}}+{{else}}n/a{{/if}}</td>
                            <td>{{#if cc}}{{cc}}+{{else}}n/a{{/if}}</td>
                            <td colspan="3">{{#if ff}}{{ff}}+{{else}}n/a{{/if}}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-12 col-md-7">{{> weapons}}</div>
            </div>
            {{#if @hasNotes}}
            <div class="row">
                <div class="col">
                    <small>
                        <b>Notes:</b>
                        {{#each specialRules}}
                        {{#unless @last}}<i>{{this}}</i>,{{/unless}}
                        {{#if @last}}<i>{{this}}</i>.{{/if}}
                        {{/each}}
                        {{notes}}
                        {{#if crit}}<b>Critical hit effect:</b> {{crit}}{{/if}}
                    </small>
                </div>
            </div>
            {{/if}}
        </td>
        {{/unit}}
        {{/each}}
    </tbody>
</table>
</div>

{{> special-rules}}
{{/if}}
{{/each}}

<p>&nbsp;</p>